body {
	color:#333;
	margin-bottom: 1em;
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'Roboto Condensed',sans-serif;
}

.candidate {
	font-size: 24px;
	line-height: 24px;
	font-family: 'Roboto Condensed',sans-serif;
}

.money {
	line-height: 24px;
	font-size: 18px;
	font-family: 'Roboto Condensed',sans-serif;
}

hr {
	margin-bottom: -1em;
}

.candidate-container {
	margin-bottom: 10px;
}

.header-nav {
	vertical-align: middle; 
}

h3.candidate {
	margin-top: 10px;
	font-size: 24px;
}

.dropdown {
	margin-bottom: 15px;
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

.headline {
	border-bottom: solid #FF0000;
}

.header-nav .dropdown {
	display:inline;
}

.header-nav li {
	font-size: 12px;
}

.updated {
	font-size: 12px;
	line-height: 14px;
	color: #999;
	font-style: italic;
}

a:link    { color: #428bca }  /* unvisited links */
a:hover   { color: #B3DDF2 }  /* user hovers     */
a:active  { color: #B3DDF2 }  /* active links    */

a:hover {
	text-decoration: none;
}

@media (max-width: 768px) {
	.ward-list {
		font-size: 16px;
	}
	.header-nav {
		font-size: 12px;
	}
	.candidate.pull-right {
		float:none!important;
	}
	.summary .col-sm-6 {
		margin-bottom: 2em;
	}
}