body {
	color:#333;
	margin-bottom: 1em;
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'Roboto Condensed',sans-serif;
}

header {
  background-color:#333;
  color:#fff;
  padding:1em 2.5% 0.5em;
}

header a {
	color:#999;
	margin-right: 15px;
}

.header-nav {
	position:relative;
	bottom:.5em;
}

.hightlight {
  background-color: #333    }

.chart div {
  background-color: #B3DDF2;
  text-align: left;
  margin: 1px;
  color: #333;
  height:20px;
}

.candidate {
	font-size: 24px;
	line-height: 24px;
	font-family: 'Roboto Condensed',sans-serif;
}

.money {
	line-height: 24px;
	font-size: 18px;
	font-family: 'Roboto Condensed',sans-serif;
}

hr {
	margin-bottom: -1em;
}

.candidate-container {
	margin: 10px;
}

.candidate-list {
	margin:15px 0px;
}

h3.candidate {
	margin-top: 10px;
	font-size: 24px;
}

.dropdown {
	margin-bottom: 15px;
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

.headline {
	border-bottom: solid #FF0000;
}

.header-nav .dropdown {
	display:inline;
}

.header-nav li {
	font-size: 12px;
}

.updated {
	font-size: 12px;
	line-height: 14px;
	color: #999;
	font-style: italic;
}

.active {
	color:#FF0000;
}

.candidate-container.all {
	display: none;
}

.timefilter {
	cursor:pointer;
}

a:link    { color: #428bca }  /* unvisited links */
a:hover   { color: #B3DDF2 }  /* user hovers     */
a:active  { color: #B3DDF2 }  /* active links    */

a:hover {
	text-decoration: none;
}

@media (max-width: 768px) {
	.ward-list {
		font-size: 16px;
	}
	.header-nav {
		font-size: 12px;
	}
	.candidate.pull-right {
		float:none!important;
	}
	.summary .col-sm-6 {
		margin-bottom: 2em;
	}

	.main-table {
		font-size: 11px;
	}

	.timefilter {
		font-size: 14px;
		line-height: 19.5px;
	}

	h1 {
		font-size: 28px;
	}
}