{% extends "base.html" %}
{% load humanize %}
{% block extracss %}
<link rel="stylesheet" href="//cdn.datatables.net/1.10.2/css/jquery.dataTables.css">
{% endblock %}
	
{% block content %}
	{% for race in candidate.races.all %}
	<em><a href="{{ race.get_absolute_url }}">{{race.name}}</a> {% if candidate.incumbant = True %}
        <i class="fa fa-check"></i> Incumbant
    {% endif %}</em>
	{% endfor %}
	<h3 class="candidate">{{ candidate }} campaign contributions</h3>
	<p>Listed are all the contributions for each committee associated with the candidate reported to the <a href="http://www.elections.state.il.us/">Illinois State Board of Elections</a>, and scrapped by <a href="http://electionmoney.org/">Illinois Election Money</a>. Go to their site to <a href="http://electionmoney.org/documentation">learn more about what is reported to the state</a>.</p>
	<p>Names and figures are displayed as reported to the state. Some names may be incorrect or listed under multiple spellings.</p>
	<div class="main-table">
	    <table id="data" class="table table-striped table-condensed" cellspacing="0">
	    	<thead>
	            <tr>
	            	<th>First name</th>
	            	<th>Last name (or org. title)</th>
	                <th>Amount</th>
	                <th>Date Received</th>
	                <th class="hidden-xs">Occupation</th>
	                <th class="hidden-xs">Employer</th>
	                <th class="hidden-xs">City</th>
	                <th class="hidden-xs">State</th>
	            </tr>
	        </thead>
	        <tbody>
		    </tbody>
		</table>
	</div>
	<div class="footer">
		<p></p>
	</div>
{% endblock %}
{% block extrajs %}
	<script src="//cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
    <script>
    $(document).ready(function() {
	    $('#data').dataTable({
	    "ajax": 'json/index.json',
	    "lengthMenu": [[50, 100, 150, -1], [50, 100, 150, "All"]],
	    "paging":   true,
	    "ordering": true,
        "order": [[ 3, "desc" ]],
        "columnDefs": [
          { "type": "num-fmt", "targets": 2 },
          { "type": "date", "targets": 3 },
        ]
      });
    });

    </script>
{% endblock %}