{% extends 'base.html' %}
{% load humanize %}

{% block content %}
    <h1 class="headline">Chicago Campaign Cash</h1>
    <div class="updated">Last updated {{max_date}}</div>
    <p>There’s a lot of money in Chicago politics. We here at WBEZ thought everyone should have the ability to sort through and examine the money raised by Chicago politicians.</p>
    <p>The mayoral race appears below. You can bring up any aldermanic race in the city by using the ward finder below. Once you’ve got the race you want to look at, simply click the name of a candidate to bring up all of their campaign finance information.</p>
    <p>Candidate figures are sums of all contributions reported to the <a href="http://www.elections.state.il.us/">Illinois State Board of Elections</a>, and scraped by <a href="http://electionmoney.org/">Illinois Election Money</a>. Go to their site to <a href="http://electionmoney.org/documentation">learn more about what is reported to the state</a>.</p>
    <p>Contributions since last election include all donation since Feb. 22, 2011. All contributions include all donations on the State Board of Elections website, complete since 2000.</p>
    <hr>
    <div class="row">
        <div class="col-sm-12">
            <h2><a class="headline" href="{{mayor.get_absolute_url}}">{{mayor.name}}</a><br><small class='timefilter recent active'>SINCE LAST ELECTION</small> | <small class='timefilter all'>ALL CONTRIBUTIONS</small></h2>
            <small><i class="fa fa-check"></i> = Incumbent</small>
            {% with mayor as race %}
            {% include 'explorer/candidate_template_recent.html' %} 
            {% include 'explorer/candidate_template_all.html' %} 
            {% endwith %}
        </div>
    </div>
    {% if races %}
    <hr>
    <div class="row">
        <div class="col-sm-12">
            <h2><span class="headline">Explore the Wards</span></h2>
            <p>Click on a ward below to get a look at the candidates and their contributions.</p>
            <p>Don't know your ward? Search your address in the map to see what your ward you're in (and if your ward has changed since the 2011 election).</p>
            <div class="dropdown">
                <button class="btn btn-default btn-lg dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                    Choose a ward
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu scrollable-menu" role="menu" aria-labelledby="wardDropdownMenu">
                    {% for race in races %}
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="{{race.get_absolute_url}}">{{ race.name }}</a></li>
                    {% endfor %}
                </ul>
            </div> 
        </div>

        <div class="col-sm-12 map">
            <iframe frameborder="0" scrolling="no" src="http://interactive.wbez.org/findyourward/" width="100%" height="600px"></iframe>
        </div>
    </div>
    {% else %}
        <strong>There are no races present.</strong>
    {% endif %}
    
{% endblock %}