{% extends 'base.html' %}
{% load humanize %}
{% load mathfilters %}

{% block content %}
        {% if race %}
        <h1 class="headline">{{ race.name }}</h1>
        <p>Candidate figures are sums of all contributions reported to the <a href="http://www.elections.state.il.us/">Illinois State Board of Elections</a>, and scraped by <a href="http://electionmoney.org/">Illinois Election Money</a>. Go to their site to <a href="http://electionmoney.org/documentation">learn more about what is reported to the state</a>.</p>
        <p>Click the name of a candidate to see each contribution to their campaign committees (some candidates have more than one). Some candidates either don't have committees or haven't raised enough to trigger state reporting requirements. 
        <p>Names and figures are displayed as reported to the state. Some names may be incorrect or listed under multiple spellings.</p>
        <p>Contributions since last election include all donation since Feb. 22, 2011. All contributions include all donations on the State Board of Elections website, complete since 2000.</p>
        <small><i class="fa fa-check"></i> = Incumbent</small>
        <div class="candidate-list">
        <h2></small><small class='timefilter recent active'>CONTRIBUTIONS SINCE LAST ELECTION</small> | <small class='timefilter all'>ALL CONTRIBUTIONS</small></h2>
        {% include 'explorer/candidate_template_recent.html' %} 
        {% include 'explorer/candidate_template_all.html' %} 
        {% else %}
            <strong>There are no races present.</strong>
        {% endif %}
        </div>
        <h4>Definitions</h4>
        <p><strong>Top donors: </strong>Individuals or organizations that have contributed the most to a candidate.</p>
        <p><strong>Top employers: </strong>Sums individual donations grouped by employer reported by the individual.</p>
        {% for candidate in race.appcandidate_set.all %}
        <div class="row summary">
            {% if candidate.sum_contributions %}
            <h3><span class="headline"><a href="{{candidate.get_absolute_url}}">{{candidate}}</a></span></h3>
            {% else %}
            <h3><span class="headline">{{candidate}}</span></h3>
            {% endif %}
            <div class="red-line"></div>
            <div class="col-sm-6">
                <h4 class="text-uppercase"><i class="fa fa-user"></i> Top donors</h4>
                {% if candidate.donor_list %}
                {% for donor in candidate.donor_list %}
                    <p><strong>{% if donor.firstname %}{{donor.firstname}}{% endif %} {{donor.lastonlyname}}</strong>: ${{donor.donor_sum|floatformat:"2"|intcomma}}</p>
                {% endfor %}
                {% else %}
                <p><strong>None reported</strong></p>
                {% endif %}
            </div>
            <div class="col-sm-6">
                <h4 class="text-uppercase"><i class="fa fa-university"></i>Top employers</h4>
                {% if candidate.employer_list %}
                {% for employer in candidate.employer_list %}
                    <p><strong>{{employer.employer}}</strong>: ${{employer.employer_sum|floatformat:"2"|intcomma}}</p>
                {% endfor %}
                {% else %}
                <p><strong>None reported</strong></p>
                {% endif %}
            </div>
        </div>
        {% endfor %}
        
{% endblock %}