{% extends 'base.html' %}
{% load humanize %}

{% block content %}
        {% if race %}
        <h1>{{ race.name }}</h1>
            <ul>
                {% for candidate in race.appcandidate_set.all %}
                <li><a href="../../candidate/{{candidate.id}}">{{ candidate }}</a>:
                    {% for committee in candidate.appcommittee_set.all %}
                        ${{ committee.sum_contributions|intcomma  }}
                    {% endfor %}
                {% endfor %}
                </li>
            </ul>
        {% else %}
            <strong>There are no races present.</strong>
        {% endif %}

{% endblock %}